python-dotenv
pydantic
sqlalchemy
pytz
fastapi
email-validator
opencv-python
numpy
torch
facenet-pytorch
scipy
torchvision
PyQt6
requests
typing-extensions
uvicorn
python-multipart
python-jose
pyyaml
pydicom
pyqt6-tools
pyqt6-plugins
pyqt6-qt6
pyqt6-sip
qt6-applications
qt6-tools
starlette
pymysql
passlib
sqlalchemy_utils
cryptography